<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MyInvoice</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval';" />
        <meta name="description" content="My Invoice Application">
        <meta name="author" content="https://github.com/SofianD">
        <link rel="stylesheet" href="../../css/styles.css">
        <script src="./js/index.js"></script>
    </head>
    <body>
        <h1>CLIENTS</h1>
        <div class="container">
            <button onclick="save()">Save</button>
            <button onclick="newClient()">New client</button>
        </div>
        <div class="container" id="clients">
        </div>
    </body>
</html>
