<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MyInvoice</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval';" />
        <meta name="description" content="My Invoice Application">
        <meta name="author" content="https://github.com/SofianD">
        <link rel="stylesheet" href="../../css/styles.css">
        <script src="./js/index.js"></script>
    </head>
    <body>
        <h1>PARAMS</h1>
        <div class="container" id="me">
            <h2>Me</h2>
        </div>
        <div class="container" id="path">
            <h2>Path</h2>
            
        </div>
        <div class="container purple-bg txt-center" onclick="save()">
            <p>Save</p>
        </div>
</html>
